__pycache__/
.git/*
env/
.env
venv/
.venv
.venv/

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

.idea
.nginx


venv/
.venv

docker-compose.yaml
ssh-key.pub

