{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">GitHub Search Users</h1>
          <hr class="mt-0 mb-4">
          <form class="add_your_class" method="GET" action="/search/" >
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value='Send'>Search</button>
          </form>
          <div class="table_header">
            <h3> Data merged pull-request from {{ user_name }}</h3>
            <h3> Number of merged pull-request {{ total_count }} </h3>
          </div>
          <div class="table_content">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"> № </th>
                  <th scope="col">Name Project</th>
                  <th scope="col">Project Link </th>
                  <th scope="col">Star Project</th>
                  <th scope="col">Merged Pull-Request Link</th>
                  <th scope="col">Not Merged Pull-Request Link</th>
                  <th scope="col">Numbers of Сomments </th>
                  <th scope="col"></th>
                </tr>
              </thead>
            </table>
          </div>
          {{ message }}
          {{ data }}
        </div>

      </div>
    </div>
{% endblock %}