<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">
        <a href="/" class="link-no-style">
        </a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="mr-2">
                <a href='{% url "index" %}' class="nav__link link">Return to main</a>
            </li>
        </ul>
    </div>
</nav>