{% extends "base.html" %}

{% block content %}
    {% load user_filters %}
    <h3> Pull-Request by {{ user_name }}</h3>
    <h3> Total amount of merged pull-request {{ total_count }} </h3>
    <h3> Show showing the latest {{ page.page_curent|last_pr }} Pull-Request</h3>
    {% include "paginator.html" with user_name=user_name page=page%}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"> № </th>
        <th scope="col">Name Project</th>
        <th scope="col">Project Link </th>
        <th scope="col">Star Project</th>
        <th scope="col">Merged Pull-Request Link</th>
        <th scope="col">Numbers of Сomments </th>
        <th scope="col">Not Merged Pull-Request Link</th>
        <th scope="col">Numbers of Сomments </th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in projects.items %}
        <tr>
            <th scope="row">{{ value.count }}</th>
            <td>{{ value.name }}</td>
            <td><a href="{{ value.url_search }}" target="_blank">{{ value.url_search }}</a></td>
            <td>{{ value.stargazers_count }}</td>
            {{ value.open|addrowtable:value.closed|safe }}
    {% endfor %}
  </tbody>
</table>

{% include "paginator.html" %}
{% endblock %}