{% extends "base.html" %}

{% block content %}
    {% load user_filters %}
    <h3> Data merged pull-request from {{ user_name }}</h3>
            <h3> Number of merged pull-request {{ total_count }} </h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"> № </th>
        <th scope="col">Name Project</th>
        <th scope="col">Project Link </th>
        <th scope="col">Star Project</th>
        <th scope="col">Merged Pull-Request Link</th>
        <th scope="col">Numbers of Сomments </th>
        <th scope="col">Not Merged Pull-Request Link</th>
        <th scope="col">Numbers of Сomments </th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in projects.items %}
        <tr>
            <th scope="row">{{ value.count }}</th>
            <td>{{ value.name }}</td>
            <td>{{ value.url_search }}</td>
            <td>{{ value.stargazers_count }}</td>
            {{ value.open|addrowtable:value.closed|safe }}


    {% endfor %}
  </tbody>
</table>


{% endblock %}